{% extends 'base.html' %} {% block content %}

<hr />

<div class="row">
  {% for each in object_list %}
  <div class="col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <img
        src="{{ each.image_url }}"
        class="card-img-top"
        alt="{{ each.name }}"
        width="40"
        height="350"
      />
      <div class="card-body">
        <h5 class="card-title">{{ each.name|slice:":25"}}...</h5>
        <p class="card-text">₹{{ each.price|floatformat:2 }}</p>
        <p class="card-status">
          {% if each.mobile_available %}
          <span class="badge badge-success">Available</span>
          {% else %}
          <span class="badge badge-danger">Out of Stock</span>
          {% endif %}
        </p>
        <a href="{% url 'detail' each.id %}" class="btn btn-outline-primary btn-block">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
